.n-alert {
    padding: var(--n-base-padding) calc(var(--n-base-padding)*4);
    background: color-mix(in srgb, currentColor 10%, white);
    color: var(--n-text-color);
    margin: calc(var(--n-base-margin)*4) 0;
}

.n-alert.n-bshadow,
.n-alert.n-bshadow-cc {
    border: calc(var(--n-border-width)*6) solid white;
}

.n-alert.n-outline {
    background: transparent;
}

.n-alert.n-outline-hover:hover {
    background: color-mix(in srgb, currentColor 10%, white);
}

@for $i from 2 through 4 {
    .n-alert.n-outline-x#{$i} {
        background: transparent;
    }
}

.n-alert .close-alert {
    font-size: 125%;
    cursor: pointer;
}