input[type=submit],
input[type=reset],
.n-btn {
    padding: calc(var(--n-base-padding)*3);
    font-size: calc(var(--n-base-font-size)*1.25);
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.large-btn {
    font-size: calc(var(--n-base-font-size)*1.5);
    padding: calc(var(--n-base-unit)*6) calc(var(--n-base-unit)*3);
}

.small-btn {
    font-size: var(--n-base-font-size);
    padding: var(--n-base-unit) calc(var(--n-base-unit)*0.5);
}

.disabled-btn {
    cursor: initial;
    pointer-events: none;
}

.n-btn.n-outline-hover:hover {
    background: color-mix(in srgb, currentColor 10%, white);
}

.n-btn.text-btn {
    background: none;
}

.n-btn[class*="n-outline"] {
    background: transparent;
}

.n-btn.n-border {
    border: var(--n-border-width) solid rgba(0, 0, 0, 0.3);
}

.n-pills .n-btn {
    padding: calc(var(--n-base-padding) * 2) calc(var(--n-base-padding) * 4);
}

.hrz-group .n-btn {
    padding: calc(var(--n-base-padding) * 2);
}
