.n-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.n-card:not(.n-bshadow, .n-card-horizontal) {
    border: 1px solid var(--n-border-color);
}

.n-flex-al-stretch .n-card {
    height: 100%;
}

.n-card-horizontal {
    height: 100%;
    align-items: center;

    img {
        height: fit-content;
        max-width: 100%;
    }

    .n-card-body {
        padding: 0 calc(var(--n-base-padding)*5);
    }
}

.n-card-body {
    padding: calc(var(--n-base-padding)*4);
}

@media (max-width: calc(map-get($viewport-widths, 's') - 1px)) {
    .n-card-horizontal:not(.n-bshadow) {
        border: 1px solid var(--n-border-color);
    }
}

@media (min-width: map-get($viewport-widths, 's')) {
    .n-card-horizontal {
        flex-direction: row;

        img {
            max-width: 50%;
        }
    }
}