.n-flex figure {
    width: fit-content;
}

figure {
    figcaption {
        color: var(--n-disabled-dark-color);
        margin-top: calc(var(--n-small-margin)/2);
    }
}

figure .caption-overlay figcaption {
    position: absolute;
    bottom: 0;
}

figure.caption-overlay {
    position: relative;

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: black;
        width: 100%;
        padding: calc(var(--n-base-padding)*4);
        color: white;
        bottom: calc(var(--n-base-padding)*4);
        background: #0000008c;
    }
}

figure.n-more-rounded.caption-overlay figcaption {
    border-radius: 0 0 calc(var(--n-border-radius)*5) calc(var(--n-border-radius)*5);
}

img.n-image-responsive {
    max-width: 100%;
    height: auto;
}