.no-pad {
    padding: 0;
}

.no-mar {
    margin: 0;
}

.a-mar-lr {
    margin-left: auto;
    margin-right: auto;
}

$sides: left, right, top, bottom;

@each $side in $sides {
    .no-pad-#{$side} {
        padding-#{$side}: 0;
    }

    .no-cpad-#{$side}>* {
        padding-#{$side}: 0;
    }

    .no-mar-#{$side} {
        margin-#{$side}: 0;
    }

    .no-cmar-#{$side}>* {
        margin-#{$side}: 0;
    }
}

.s-pad {
    padding: var(--n-base-padding);
}

.sc-pad>* {
    padding: var(--n-base-padding);
}

.s-tb-pad {
    padding-top: var(--n-base-padding);
    padding-bottom: var(--n-base-padding);
}

.s-lr-pad {
    padding-left: var(--n-base-padding);
    padding-right: var(--n-base-padding);
}

.s-mar {
    margin: var(--n-base-margin);
}

.sc-mar>* {
    margin: var(--n-base-margin);
}

.s-tb-mar {
    margin-top: var(--n-base-margin);
    margin-bottom: var(--n-base-margin);
}

.s-lr-mar {
    margin-left: var(--n-base-margin);
    margin-right: var(--n-base-margin);
}

@for $i from 1 through 5 {
    .s-pad-x#{$i*2} {
        padding: calc(var(--n-base-padding)*($i * 2));
    }

    .sc-pad-x#{$i*2}>* {     
        padding: calc(var(--n-base-padding)*($i * 2));
    }

    .s-tb-pad-x#{$i*2} {
        padding-top: calc(var(--n-base-padding)*($i * 2));
        padding-bottom: calc(var(--n-base-padding)*($i * 2));
    }

    .s-lr-pad-x#{$i*2} {
        padding-left: calc(var(--n-base-padding)*($i * 2));
        padding-right: calc(var(--n-base-padding)*($i * 2));
    }

    .s-mar-x#{$i*2} {
        margin: calc(var(--n-base-margin)*($i * 2));
    }

    .sc-mar-x#{$i*2}>* {
        margin: calc(var(--n-base-margin)*($i * 2));
    }

    .s-tb-mar-x#{$i*2} {
        margin-top: calc(var(--n-base-margin)*($i * 2));
        margin-bottom: calc(var(--n-base-margin)*($i * 2));
    }

    .s-lr-mar-x#{$i*2} {
        margin-left: calc(var(--n-base-margin)*($i * 2));
        margin-right: calc(var(--n-base-margin)*($i * 2));
    }
}