.n-round {
    border-radius: var(--n-border-radius);
}

@for $i from 2 through 5 {
    .n-round-x#{$i} {
        border-radius: calc(var(--n-border-radius)*$i);
    }
}

.n-circle {
    border-radius: 50%;
}

.nc-round>* {
    border-radius: var(--n-border-radius);
}

@for $i from 2 through 5 {
    .nc-round-x#{$i}>* {
        border-radius: calc(var(--n-border-radius)*$i);
        padding: var(--n-base-padding) calc(var(--n-base-padding)*$i);
    }
}

.nc-circle>* {
    border-radius: 50%;
}