.n-bshadow {
    box-shadow: 0 0 2px #ccc, 0 0 6px #eee;
    padding: calc(var(--n-base-padding)*3);
}

.n-bshadow-curr-clr {
    box-shadow: 0 0 2px color-mix(in srgb, currentColor 40%, white), 0 0 6px color-mix(in srgb, currentColor 10%, white);
    padding: calc(var(--n-base-padding)*3);
}

.n-border,
.n-outline,
.n-btn.n-outline {
    border: var(--n-border-width) solid currentColor;
    padding: calc(var(--n-base-padding)*3);
}

@for $i from 2 through 4 {

    .n-border-x#{$i},
    .n-outline-x#{$i},
    .n-btn.n-outline-x#{$i} {
        border: calc(var(--n-border-width)*$i) solid currentColor;
    }

    .n-btn.n-border-x#{$i} {
        border: calc(var(--n-border-width)*$i) solid rgba(0, 0, 0, 0.3);
    }
}