$colors: (
    'green': #4CAF50,
    'red': #E53935,
    'orange': #F57C00,
    'azure': #2196F3,
    'text': #222222,
    'border': #AAAAAA,
    'brand-primary': #00796B,
    'brand-secondary': #0c3671
);

$viewport-widths: (
    'xs': 440px,
    's': 576px,
    'm': 768px,
    'l': 992px,
    'xl': 1200px,
    'xxl': 1400px
);

$fractional-widths: (
  '1-6': 16.6666667%,
  '1-3': 33.33333333%,
  '2-3': 66.666666667%
);

:root {
    --n-base-unit: 1rem;
    --n-base-font-size: 1rem;
    --n-base-padding: 0.1rem;
    --n-base-margin: 0.1rem;
    --n-border-width: 1px;
    --n-border-radius: 0.2em;
    --n-green-color: #4CAF50;
    --n-red-color: #E53935;
    --n-orange-color: #F57C00;
    --n-azure-color: #2196F3;
    --n-text-color: #222222;
    --n-border-color: #AAAAAA;
    --n-brand-primary-color: #00796B;
    --n-brand-secondary-color: #0c3671;
}

:root {
    --n-base-unit: 1rem;
    --n-base-font-size: 1rem;

    --n-base-padding: 0.15rem;
    --n-base-margin: 0.15rem;

    --n-border-width: 1px;
    --n-border-radius: 0.2em;

    @each $name, $value in $colors {
        --n-#{$name}-color: #{$value};
    }
}

@media (min-width: map-get($viewport-widths, 'm')) {
    :root {
        --n-base-padding: 0.18rem;
        --n-base-margin: 0.18rem;
        --n-root-font-size: 1rem;
    }
}

@media (min-width: map-get($viewport-widths, 'l')) {
    :root {
        --n-base-padding: 0.2rem;
        --n-base-margin: 0.2rem;
    }
}

@media (min-width: map-get($viewport-widths, 'xl')) {
    :root {
        --n-base-padding: 0.24rem;
        --n-base-margin: 0.24rem;
        --n-root-font-size: 1.1rem;
    }
}

@media (min-width: map-get($viewport-widths, 'xxl')) {
    :root {
        --n-base-padding: 0.28rem;
        --n-base-margin: 0.28rem;
    }
}

