@use 'partials/variables';

@use 'partials/grid';
@use 'partials/flexbox';

@use 'partials/typography';

@use 'partials/table';

@use 'partials/navigation';
@use 'partials/pagination';

@use 'partials/image-figure';
@use 'partials/accordion';

@use 'partials/form';

@use 'partials/shadow-border-outline';

@use 'partials/alerts';
@use 'partials/tabs-pills';
@use 'partials/labels';

@use 'partials/cards';

@use 'partials/buttons';

@use 'partials/item-group';

@use 'partials/padding-margin';
@use 'partials/round';


hr {
    color: color-mix(in srgb, currentColor 25%, white);
    margin: calc(var(--ntu-base-margin)*2) 0;
    border-bottom: none;
}


.fade {
    transition: 0.2s all;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.hide {
    display: none;
}