.ntu-acc-item-head {
    padding: 0 calc(var(--ntu-base-padding)*10);
    overflow: auto;
    cursor: pointer;
    background-color: #eee;
    font-weight: bold;
}

.ntu-acc-item-body {
    padding: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.ntu-acc-item.ntu-acc-stay-open .ntu-acc-item-body {
    height: auto;
}