.ntu-page {
    color: var(--ntu-highlight-text-color);
    list-style: none;
    display: flex;
    padding: 0;

    li {
        background: color-mix(in srgb, currentColor 15%, white);
        transition: 0.2s all;

        &:hover {
            background: color-mix(in srgb, currentColor 5%, white);
            color: var(--ntu-text-color);
        }

        &.disabled {
            color: var(--ntu-highlight-text-color);
            pointer-events: none;
            background: color-mix(in srgb, currentColor 5%, white);
        }

        &.active {
            transform: scale(1.1);
            pointer-events: none;
            border: 2px solid;
        }
    }

    &.ntu-page-djt {
        li {
            margin: 0 0.2rem;
        }
    }

    &.ntu-page-bdr {

        li {
            border: 1px solid currentColor;
        }

        li:hover {
            border-color: var(--ntu-highlight-text-color);
        }

        &:not(.ntu-page-djt) li {
            border-right: none;
        }

        &:not(.ntu-page-djt) li:last-child,
        &.ntu-page-djt li {
            border-right: 1px solid currentColor;

            &:hover {
                border-color: var(--ntu-highlight-text-color);
            }
        }

        &:not(.ntu-page-djt) li.disabled:last-child {
            border-right: none;
        }

        li.disabled {
            border: none;
            border-right: none;
        }

        li.active {
            border: 2px solid currentColor;
            border-right: 2px solid currentColor;
        }
    }
}

nav ul.ntu-page li.disabled {
    color: var(--ntu-highlight-text-color);
}

.ntu-page li a {
    text-decoration: none;
    color: currentColor;
    padding: calc(2 * var(--ntu-base-padding)) calc(4 * var(--ntu-base-padding));
    display: inline-block;
}