ul.ntu-tabs li,
ul.ntu-pills li {
    width: fit-content;
    padding: 0.3em 0.6em;
    border: 2px solid transparent;
    line-height: 1;
    font-size: 1em;
    transition: 0.2s all;
    margin-right: 2px;
    margin-bottom: -2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

ul.ntu-pills li {
    padding: 0;
}

ul.ntu-tabs li:hover {
    border: 2px solid color-mix(in srgb, currentColor 75%, white);
}

ul.ntu-tabs li.active {
    border: 2px solid color-mix(in srgb, currentColor 75%, black);
}

ul.ntu-tabs li.active,
ul.ntu-tabs li:hover {
    border-bottom: 2px solid white;
}

ul.ntu-tabs,
ul.ntu-pills {
    border-bottom: 2px solid color-mix(in srgb, currentColor 75%, black);
    list-style: none;
    padding-left: 0;
    margin-bottom: calc(var(--ntu-base-margin)*5);
}

ul.ntu-pills {
    border-bottom: 0;
}

ul.ntu-tabs li a {
    text-decoration: none;
}

.ntu-tab-pane {
    display: none;
}

.ntu-tab-pane.active {
    display: block;
}

.ntu-tabs .ntu-btn {
    background: white;
    color: inherit;
    padding: 0;
}

.ntu-tabs li.active .ntu-btn {
    font-weight: bold;
    color: color-mix(in srgb, currentColor 75%, black);
}

.ntu-pills li:not(.active) .ntu-btn {
    background: white;
}

ul.ntu-tabs {
    margin-bottom: 0;
}

.ntu-tabs+.ntu-tab-content {
    border-top: 0;
}

.ntu-vr-pills+.ntu-tab-content {
    border-left: 0.5em solid white;
}

.ntu-pills.ntu-vr-pills li,
.ntu-pills.ntu-vr-pills li button {
    width: 100%;
}