@use 'variables' as variables;

table {
    border: var(--ntu-border-width) solid var(--ntu-brand-primary-color);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: calc(var(--ntu-base-margin) * 6) 0;
}

th,
td {
    border: var(--ntu-border-width) solid var(--ntu-brand-primary-color);
    padding: calc(var(--ntu-base-padding)*2);
}

th {
    text-transform: uppercase;
    background: var(--ntu-brand-primary-color);
    color: white;
}

th:not(:first-child, :last-child) {
    border-left: var(--ntu-border-width) solid white;
    border-right: var(--ntu-border-width) solid white;
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}

table.ntu-branded-th th {
    background: white;
    border-color: var(--ntu-brand-primary-color);
    color: var(--ntu-brand-primary-color);
}

table.ntu-striped tr:nth-child(2n+1) {
    background: var(--ntu-striped-table-color);
}

table.ntu-row-hover tr:hover {
    background: var(--ntu-table-row-hover-color);
}

table.ntu-border-columns {
    border: none;

    td,
    th {
        border: none;
        border-left: 2px solid var(--ntu-brand-primary-color);
        border-right: 2px solid var(--ntu-brand-primary-color);
    }

    th {
        border-bottom: 2px solid var(--ntu-brand-primary-color);
    }
}

table.ntu-border-rows {
    border: none;

    td,
    th {
        border: none;
        border-bottom: 2px solid var(--ntu-brand-primary-color);
    }
}

@media (min-width: map-get(variables.$viewport-widths, 's')) {
    table.ntu-padded-table td {
        padding: calc(var(--ntu-base-padding)*4);
    }
}